<% if notice %>
  <p id='notice'><%= notice %></p>
<% end %>

<h1>Store Catalogue</h1>
<% cache ['store', Product.latest] do %> <!-- ActicveSupport method 'cache' -->
  <% @products.each do |product| %> <!-- @products is ALL PRODUCTS -->
    <% cache ['entry', product] do %>
      <div class='entry'>
         <%= image_tag(product.image_url) %>
        <h3><%= product.title %></h3>
        <%= sanitize(product.description) %>
        <div class='price_line'>
          <span class='price'><%= number_to_currency(product.price) %></span>
          <!-- button_to is Rails helper for button (does POST). First arg is button name
           next arg is route to do POST to; _path for line_items.
           POST params is product_id: product - i.e. the one in scope of this button - wow! -->
          <%= button_to 'Add to Cart', line_items_path(product_id: product) %>
          <!-- Rails extracts product.id in line above -->
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

