<!DOCTYPE html>
<html>
<head>
  <title>Depot online store</title>
  <!-- Rails stuff -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'> <!-- Gets CSS applied according to controller class name - smart! -->
  <div id='banner'>
    <%= image_tag('logo.png') %>
    <%= @page_title || 'Depot online store' %>
  </div>
  <div id='columns'>
    <div id='side'>
      <div id='cart'>
        <%= render @cart %>
      </div>

      <ul>
        <li><a href="http://www....">Home</a></li>
        <li><a href="http://www..../faq">Questions</a></li>
        <li><a href="http://www..../news">News</a></li>
        <li><a href="http://www..../contact">Contacts</a></li>
      </ul>
    </div>
    <div id='main'>
      <%= yield %> <!-- renders page -->
    </div>
  </div>
</body>
</html>
